#trace {
    display: block;
    width: 100%;
    height: 100%;
    color: #00FF00;
    background-color: #001100;
    opacity: .80;
    border: 2px solid #000000;
    font-size: small;
}
#trace:empty {
    display: none;
}
#stats{
    position: absolute;
    top:10px;
    left:10px;
}
#game {
    display: block;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style-type: none;
}
.logo {
    height: 120px;
    width: 300px;
}
